.container {
  width: 85vw;
  height: 520px;
  position: absolute;
  left: 0;
  top: 48px;
  z-index: 1;
}

.link {
  width: 85vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #000;
  z-index: 1;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 1;
}

.toggleMenuBtn {
  height: 48px;
  position:fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none; 
  background-color: rgb(115,115,115);
}

@media only screen and (min-width: 668px) {
  .toggleMenuBtn {
    height: 85%;
    position: relative;;
  }
}