.sectionHeading {
  text-align: center;
}

.linkList{
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  margin-bottom: 1.45rem;
}

.listItem {
  display: flex;
  flex: 0 1 44vw;
  list-style: none;
  margin: 3vw;
}

.link:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.linkContentWrapper {
  width: 100%;
}

.bgImageWrapper {
  display: flex;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50%;
  margin-bottom: 0.375rem;
}

.bgImage {
  width: 44vw;
  height: 44vw;
  padding: 14.4667%;
  margin: 0;
}

.linkText {
  line-height: 1;
  text-align: center;
}

@media only screen and (min-width: 568px){
  .bgImage {
    width: 21vw;
    height: 21vw;
  }

  .listItem {
    flex: 0 1 21vw;
    margin: 2vw;
  }
}

@media only screen and (min-width: 896px){
  .bgImage {
    width: 12.667vw;
    height: 12.667vw;
  }

  .listItem {
    flex: 0 1 12.667vw;
    margin: 2vw;
  }
}

@media only screen and (min-width: 1024px){
  .bgImage {
    /* 0.76 * 1024 / 6 */
    width: 129.710px;
    height: 129.710px;
  }

  .listItem {
    flex: 0 1 129.710px;
    margin: 20.47px;
  }
}