.sectionHeading {
  text-align: center;
}

.linkList{
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  margin-bottom: 1.45rem;
}

.listItem {
  display: flex;
  flex: 0 1 128px;
  list-style: none;
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.link:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.linkContentWrapper {
  width: 100%;
  margin: .625rem !important;
}

.bgImageWrapper {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50%;
  margin-bottom: 0.375rem;
  padding: 21.967px;
}

.bgImage {
  width: 106.066px;
  height: 106.066px;
  margin: 0;
}

.linkText {
  line-height: 1;
  text-align: center;
}