.content {
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
  visibility: hidden;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.uListWrapper {
  width: 272px;
  overflow-y: auto;
}

.uList {
  top: 3rem;
  left: 0;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  visibility: visible;
}

.content, .uListWrapper, .uList {
  position: relative;
}

.content, .overlay, .uList {
  width: 100%;
}

.overlay, .uListWrapper {
  height: 100%;
}

.content, .overlay {
  top: 0;
  left: 0;
}

@media only screen and (min-width: 667px) {
  .uList {
    top: 3.375rem;
  }
}

@media only screen and (min-width: 730px) {
  .uList {
    top: 3.75rem;
  }
}

@media only screen and (min-width: 1024px){
  .uList {
    top: 4.5rem;
  }

  .uListWrapper {
    width: 40%;
  }
}