.headerWrapper {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  z-index: 3;
}

.header, .nav, .navBar, .svgWrapper, .svg {
  height: 100%;
  width: 100%;
}

.nav {
  background: #e7e8c8;
  padding: 0 .625rem;
}

.navBar {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 .625rem;
}

.link {
  padding: 0 .5rem;
  color: #403D34;
  font-weight: 300;
}

.link:hover {
  text-decoration: underline;
}

.iconWrapper {
  width: 2.5rem;
  height: 2.5rem;
}

.svg {
  margin: 0;
}

@media only screen and (min-width: 667px) {
  .headerWrapper {
    height: 3.375rem;
  }

  .iconWrapper {
    width: 2.75rem;
    height: 2.75rem;
  }

  .nav {
    justify-content: flex-start;
  }

  .pageHeader, .displayRangeTextContainer {
    top: 3.375rem;
  }
}

@media only screen and (min-width: 730px) {
  .headerWrapper {
    height: 3.75rem;
  }

  .iconWrapper {
    width: 3rem;
    height: 3rem;
  }

  .pageHeader, .displayRangeTextContainer {
    top: 3.75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .headerWrapper {
    height: 4.5rem;
  }

  .iconWrapper {
    width: 3.5rem;
    height: 3.5rem;
  }

  .pageHeader, .displayRangeTextContainer {
    top: 4.5rem;
  }
}