.menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.mainMenuBtn {
  height: 48px;
  width: 100px;
  border: none; 
  background-color: rgb(115,115,115);
}

.list {
  width: 85vw;
  height: 100vh;
  margin: 0;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #000;
}

.menuItem {
  width: 85vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 1;
}