.menu {
  width: 85vw;
  height: 520px;
  position: absolute;
  left: 0;
  top: 48px;
  z-index: 1;
}

.mainMenuBtn {
  height: 48px;
  width: 100px;
  position:fixed;
  top:0;
  left: 0;
  border: none; 
  background-color: rgb(115,115,115);
  z-index: 3;
}

.list {
  width: 85vw;
  height: 520px;
  margin: 0;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #000;
  overflow-y: auto;
  overflow-x: hidden;
}

.menuItem {
  width: 85vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 1;
}