.headerWrapper {
  width: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  z-index: 3;
}

.header {
  width: 100%;
  height: 48px;
  position: relative;
  display: flex;
}

.nav {
  height: 100%;
  width: 100%;
  background-color: rgb(115, 115, 115);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.link {
  height: 85%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 5px;
}

.iconWrapper {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.svgWrapper {
  height: 100%;
  width: 100%;
}

.svg {
  display: block;
  height: 100%;
  width: 100%;
}

.mainMenuBtn {
  height: 48px;
  position:fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none; 
  background-color: rgb(115,115,115);
}

@media only screen and (min-width: 768px) {
  .nav {
    justify-content: flex-start;
  }

  .mainMenuBtn {
    height: 85%;
    position: relative;;
  }
}