h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em 0;
  font-size: 1.25em;
}

li {
  list-style: none;
}

.itemCard {
  border-bottom: 1px solid #404040;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}