$active-color: hsla(0, 0%, 0%, 0.8);

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: .625rem;
}

.carousel {
  position: relative;
  min-width: 100%;
  max-width: 1024px;
  visibility: visible;
}

/*  Carousel Slides  */

.slideContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.slide, .currentSlide, .singleSlide {
  display: flex;
}

.slide {
  margin: 0 0.5rem;
  min-width: 70%;
  opacity: 0.5;
}

.currentSlide {
  min-width: 80%;
  /* left and right shadow */
  opacity: 1;
  transition: opacity 1s ease;
}

.currentSlide, .singleSlide {
  box-shadow: 0px 0px 6px 0px $active-color;
}

.slideContainer, .singleSlide {
  width: 100%;
}

/*  Carousel Controls  */

.controlContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 0.625rem;
}

.controls {
  padding: 0;
}

.carouselControl {
  height: 3.125rem;
  width: 3.125rem;
  padding: 0;
  border-radius: 50px;
  border: none;
  background-color: $active-color;

}

.carouselControl:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.controlContainer, .controls {
  width: 100%;
}

/*                Cues and FS/Minimize buttons                */
.cue {
  position: relative;
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0 .375rem;
}

.cues {
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.FSControlContainer {
  position: relative;
  width: 100%;
}

.fullScreenIcon, .minimizeIcon {
  position: relative;
  bottom:0;
  right: 0;
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin: 1rem;
  border-radius: 50%;
}

.minimizeIcon {
  z-index: 5;
}

.fullScreenIcon:hover{
  transform: scale(1.1);
}

.minimizeIcon:hover {
  transform: scale(0.9);
}

/*                Content               */

.textOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.6);
  color:#fff;
  text-align: center;
  padding: 0.375rem;
}

.textOverlay p {
  display: flex;
  margin: 0.5rem 0;
}

.textOverlay a {
  display: inline;
  padding: 0.25rem 0.5rem;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
}

.textOverlay a:hover {
  text-decoration: underline;
}

.title {
  margin: 0.625rem 0;
  font-weight: bold;
  font-size: 1.1rem;
}