.wrapper {
  position: relative;
  width: 100%;
}

.carousel {
  position: relative;
  min-width: 100%;
  max-width: 1024px;
  visibility: visible;
}

.slideContainer {
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.FSControlContainer {
  position: relative;
  width: 100%;
}