.wrapper {
  position: relative;
  width: 100%;
  padding: .625rem;
}

.carousel {
  position: relative;
  min-width: 100%;
  max-width: 1024px;
  visibility: visible;
}

.slideContainer {
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.FSControlContainer {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 567px){
  .wrapper {
    padding: .625rem;
  }
}