.cue {
  position: relative;
  display: inline-block;
  height: .875rem;
  width: .875rem;
  margin: .125rem;
}

.cueWrapper {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  margin: 1.45rem 0;
  /* Centers the wrapper by the offset of the full screen icon and margin/padding */
  margin-left: 4.9375rem;
}