.cue {
  position: relative;
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0 .375rem;
}

.cueWrapper {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  padding: .625rem;
  margin: 1rem;
  /* Centers the wrapper by the offset of the full screen icon and margin/padding */
  margin-left: 5.625rem;
}