.cue {
  position: relative;
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  margin: 0 .375rem;
}

.cueWrapper {
  position: absolute;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 4rem;
}