/*                modal               */

.FSWrapper, .FSWrapperSingle {
  max-width: 1024px;
  position: relative;
  width: 100%;
  padding: 0 1.45rem;
  margin: auto 0;
}

.FSWrapperSingle {
  padding: 0 10%;
}

.overlay {
  position: fixed;
  height: 100%;
  background-color: #000;
  z-index: 4;
}

.content {
  position: relative;
  height: 100%;
  max-width: 1024px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 5;
}

.overlay, .content {
  width: 100%;
  top: 0;
  bottom: 0;
}

@media only screen 
and (min-aspect-ratio: 16/10) 
{
  .FSWrapper {
    padding: 0 8%;
  }

  .FSWrapperSingle {
    padding: 0 16%;
  }
}

@media only screen 
and (min-aspect-ratio: 17/10) 
and (max-aspect-ratio: 26/12)
{
  .FSWrapper {
    padding: 0 18%;
  }

  .FSWrapperSingle {
    padding: 0 25%;
  }
}

@media only screen 
and (min-aspect-ratio: 26/13){
  .FSWrapper {
    padding: 0 23%;
  }

  .FSWrapperSingle {
    padding: 0 28%;
  }
}

@media only screen 
and (min-width: 1024px)
and (min-height: 713px){
  .FSWrapper {
    padding: 0;
  }

  .FSWrapperSingle {
    padding: 0 8%;
  }
}