.slide, .currentSlide, .singleSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slide {
  margin: 0 0.5rem;
  min-width: 70%;
  opacity: 0.2;
}

.currentSlide {
  min-width: 80%;
  /* left and right shadow */
  opacity: 1;
  transition: opacity .5s ease;
}

.currentSlide, .singleSlide {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
}

.img, .singleSlide {
  width: 100%;
}

@media only screen and (min-width: 1024px){
  .singleSlide {
    width: 90%;
  }
}

/*                Text Overlay               */

.textOverlayWrapper {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
  color:#fff;
}

.textOverlay {
  position: relative;
  height: 100%;
  text-align: center;
  padding: 1rem;
  text-overflow: ellipsis;
}

.textOverlayWrapper, .textOverlay {
  width: 100%;
  overflow: hidden;
}

.textOverlay p {
  margin: 0.5rem 0;
}

.textOverlay a {
  color: #fff;
  text-decoration: underline;
  margin: 0 3px;
}

.textOverlay a:hover {
  cursor: pointer;
}

.textOverlayTitle {
  margin: 0.625rem 0;
  font-weight: bold;
}

@media only screen and (max-width: 567px){
  .currentSlide {
    min-width: 100% !important;
  }

  .textOverlay {
    /* leave padding for the buttons when showing a single slide */
    padding: 2rem 3.5rem;
  }
}