/* Custom styles to replace rc pagination styles */

$active-color: #36733F;
$inactive-color: rgba(64, 61, 52, 0.2);

.rc-pagination > li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: #e7e8c8;
  border: 1px solid $inactive-color;
  border-radius: 3px;
  font-size: 0.75rem;
}

.rc-pagination > li.rc-pagination-item-active {
  background-color: $active-color;
}


.rc-pagination-item > a,
.rc-pagination-prev a,
.rc-pagination-next a{
  color: #403D34;
}

.rc-pagination-item:hover, 
.rc-pagination > .rc-pagination-prev:hover,
.rc-pagination > .rc-pagination-next:hover {
  border-color: $active-color;
}

.rc-pagination-item:hover a,
.rc-pagination > .rc-pagination-prev:hover a,
.rc-pagination > .rc-pagination-next:hover a {
  color: $active-color;
}

.rc-pagination > .rc-pagination-prev, 
.rc-pagination > .rc-pagination-next {
  font-size: 1.25rem;
}

.rc-pagination-item-active a,
.rc-pagination-item-active:hover a {
  color: #e7e8c8;
}

.rc-pagination-disabled > a {
  color: $inactive-color !important;
}

.rc-pagination-disabled:hover {
  border-color: $inactive-color !important;
}

.rc-pagination-disabled:hover a {
  color: $inactive-color !important;
}