$trimColor: rgba(0, 0, 0, 0.6);

/*                Filter Bar                 */

.pageTitleContainer {
  position: relative;
  border-bottom: 1px solid $trimColor;
  background-color: #fff;
  padding: 0 4%;
}

.displayRangeTextContainer {
  position: sticky;
  top: 3rem;
  padding: .625rem 1.45rem;
  background-color: #fff;
  z-index: 2;
  border-bottom: 1px solid $trimColor;
  border-top: 1px solid $trimColor;
}

.pageTitleContainer, .displayRangeTextContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*                 Item Cards                */

.itemsUL {
  margin: 0;
  margin-top: calc(1.45rem - 3%);
  padding: 0 calc(1.45rem - 3%);
  flex-wrap: wrap;
}

.listItem {
  width: 44%;
  flex-basis: auto;
  margin: 3%;
  list-style: none;
}

.itemCard {
  height: 100%;
  background: transparent;
  border: none;
}

.itemCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  text-decoration: underline;
}

.itemDescriptText {
  text-align: center;
  padding: 1rem 0;
  font-weight: 500;
}

.itemCard, .itemDescriptText {
  width: 100%;
}

/*                CTA                */

.CTALink {
  padding: 1rem;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  font-weight: bold;
}

.CTAText {
  font-weight: 400;
  text-align: center;
}

.CTALink:hover {
  border:2px solid #BD3D0D;
  color: #BD3D0D;
}

.CTALink:active {
  border: 2px solid #BD3D0D;
  color: #BD3D0D;
}

/*                Pagination                */

.paginationContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 1.45rem;
  margin: 1.45rem 0;
}

.pagination {
  margin: 0;
}


@media only screen and (min-width: 667px) {
  .displayRangeTextContainer {
    top: 3.375rem;
  }

  .listItem {
    width: 31.333%;
    margin: 1%;
  }
}

@media only screen and (min-width: 730px) {
  .displayRangeTextContainer {
    top: 3.75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .displayRangeTextContainer {
    top: 4.5rem;
  }
}