$lightBlue: #1188CC;
$trimColor: rgba(0, 0, 0, 0.6);
$CTABorder: 2px solid rgba(0, 0, 0, 0.3);
$CTALinkBorder: 2px solid $lightBlue;

/*                Filter Bar                 */

.pageTitleContainer {
  position: relative;
  border-bottom: 1px solid $trimColor;
  background-color: #fff;
}

.pageTitle {
  margin: .5em 0;
}

.displayRangeTextContainer {
  position: sticky;
  top: 3rem;
  padding: .375rem 0;
  background-color: #fff;
  z-index: 2;
  border-bottom: 1px solid $trimColor;
}

.pageTitleContainer, .displayRangeTextContainer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*                 Item Cards                */

.itemsUL {
  margin: 0;
  flex-wrap: wrap;
}

.listItem {
  width: 50%;
  flex-basis: auto;
  padding: .375rem;
  margin-bottom: 0;
  list-style: none;
}

.itemCard {
  height: 100%;
  background: transparent;
  border: none;
}

.itemCard:hover {
  cursor: pointer;
  transform: scale(1.05);
  text-decoration: underline;
}

.itemDescriptText {
  text-align: center;
  padding: 1rem 0;
  font-weight: 500;
}

.itemCard, .itemDescriptText {
  width: 100%;
}

/*                Pagination                */

.paginationContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.pagination {
  margin: 1rem 0;
}

.pagination > li{
  width: 40px;
  margin: 0 5px;
}

/*                CTA                */

.CTAContainer {
  border-top: $CTABorder;
  border-bottom: $CTABorder;
  padding: 1.45rem 0;
}

.CTALink {
  padding: 1rem;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  font-weight: bold;
}

.CTAText {
  font-weight: 400;
}

.CTALink:hover {
  border: $CTALinkBorder;
  color: $lightBlue;
}

.CTALink:active {
  border: 2px solid #0779AD;
  color: #0779AD;
}

.CTAContainer, .CTA div p {
  width: 100%;
}

@media only screen and (min-width: 667px) {
  .pageHeader, .displayRangeTextContainer {
    top: 3.375rem;
  }

  .listItem {
    width: 33.3%;
  }
}

@media only screen and (min-width: 730px) {
  .pageHeader, .displayRangeTextContainer {
    top: 3.75rem;
  }
}

@media only screen and (min-width: 1024px) {
  .pageHeader, .displayRangeTextContainer {
    top: 4.5rem;
  }
}