.footer {
  width:100%;
  max-width: 1024px;
  position: relative;
  padding: 1rem 0;
  margin: 0 auto;
  background-color: #BD3D0D;
  color: #fff;
  display: -webkit-box;
}

.socialIcons {
  margin-bottom: 1rem;
}

.socialIcon {
  margin: 0 1rem;
}

.copyright{
  margin-right: .1875rem;
}

.copyrightContainer {
  font-size: .875rem;
}