.footer {
  position: relative;
  margin: 0;
  background-color: #e7e8c8;
  color: #403D34;
  display: -webkit-box;
}

.wrapper {
  max-width: 1024px;
  
}

.footer,
.wrapper,
.socialIcons,
.copyrightContainer {
  width: 100%;
}

.socialIcons, .copyrightContainer {
  width: 100%;
  margin: 1.45rem 0;
  padding: 0 1.45rem;
}

.socialIcon {
  margin: 0 .725rem;
}

.copyrightContainer {
  margin-top: 0;
  text-align: center;
}
