.footer {
  width:100%;
  max-width: 1024px;
  position: relative;
  margin: 0;
  background-color: #BD3D0D;
  color: #fff;
  display: -webkit-box;
}

.socialIcons, .copyrightContainer {
  width: 100%;
  margin: 1.45rem 0;
  padding: 0 1.45rem;
}

.socialIcon {
  margin: 0 .725rem;
}

.copyrightContainer {
  margin-top: 0;
  text-align: center;
}
