.wrapper {
  height: 100%;
}

.FSWrapper {
  max-width: 1024px;
}

.wrapper, .FSWrapper {
  position: relative;
  width: 100%;
}

/*                Icons               */

.fullScreenIcon, .minimizeIcon {
  position: absolute;
  bottom:0;
  right: 0;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  padding: 0;
  margin-right: 1.625rem;
  border-radius: 50%;
}

.minimizeIcon {
  z-index: 5;
}

.fullScreenIcon:hover, .minimizeIcon:hover {
  background-color: rgba(0, 0, 0, .6);
}

/*                modal               */
.overlay {
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

.content {
  position: relative;
  max-width: 1024px;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 5;
}

.overlay, .content {
  width: 100%;
  inset: 0;
}

@media only screen and (min-aspect-ratio: 16/10){
  .content {
    width: 80%;
  }
}

@media only screen and (min-aspect-ratio: 16/9) and (max-aspect-ratio: 26/12){
  .content {
    width: 70%;
  }
}

@media only screen and (min-aspect-ratio: 26/13){
  .content {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .carouselWrapper {
    max-width: 47.65625%;
  }
}