$sans: 'Helvetica Neue', 'Helvetica', sans-serif;

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.centered{
  justify-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
  align-items: center;
}

.content {
  position: relative;
  font-family: $sans;
}

.header {
  width: 100%;
  padding: 0 10px;
}

.pageHeading {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500;
}

.detailsColumn {
  width: 100%;
}

.deetsCard {
  width: 100%;
  padding: 0 10px;
  color: #000;
}

.deetsWrapper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.deetsHeader {
  width: 100%;
  padding: 0 15px;
}

.deetsHeading {
  width: 100%;
  margin: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.deetsList {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 7.5px;
  padding-bottom: 15px;
}

.deetsLI {
  list-style: none;
  padding: 0 15px;
  margin: 0;
}

.deet {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 7.5px 5px;
  background-color: #fff;
  margin: 7.5px 0;
  border-radius: 1px;
}

.deetName {
  margin: 0 5px;
}

.deetValue {

}

.interestedCTA {
  padding: 15px 10px;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.CTAHeader {
  margin: 15px 0;
  font-size: 24px;
  font-weight: bold;
}

.CTAText {
  font-size: 20px;
  font-weight: 500;
}

.telWrapper {
  width: 100%;
  font-size: 1.2rem;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.tel {
  cursor: default;
  margin: 15px 0;
  text-decoration: none;
  color: #000;
}

.tel:hover {
  cursor: default;
}

.telIcon {
  width: 24px;
  height: 24px;
}

.telNumber {
  margin: 0 5px;
}

@media only screen and (max-height: 414px) and (max-width: 896px) {
  .detailsColumn {
    width: 85%;
  }
}