
/* Page Header */

.header {
  width: 100%;
  padding: 0 .625rem;
}

.pageHeading {
  margin: 0;
  margin-top: 0.625rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* Details */

.deetsCard {
  max-width: 1024px;
  padding: 0 .625rem;
  color: #000;
}

.deetsWrapper {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.deetsHeader {
  padding: 0 1rem;
}

.deetsH2 {
  margin: 0;
  padding: 1rem 0;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.deetsList {
  margin: 0;
  padding: 0;
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.deetsLI {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

.deet {
  font-weight: 300;
  padding: 0.5rem .375rem;
  background-color: #fff;
  margin: .5rem 0;
  border-radius: 1px;
}

.deetName {
  margin: 0 .375rem;
  font-weight: 500;
}

.deetsColumn, .deetsCard, .deetsWrapper,
.deetsHeader, .deetsH2, .deetsList, .deet {
  width: 100%;
}

/* CTA */

.interestedCTA {
  padding: 1rem .625rem;
  padding-bottom: 0.625rem;
}

.CTAHeader {
  margin: 1rem 0;
  font-weight: bold;
}

.CTAText {
  font-weight: 500;
}

.CTAWrapper {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.tel {
  cursor: default;
  margin: 1rem 0;
  text-decoration: none;
  color: #000;
}

.tel:hover {
  cursor: default;
}

.telIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.telNumber {
  margin: 0 .375rem;
  font-weight: bold;
}

@media only screen and (max-height: 414px) and (max-width: 896px) {
  .detailsColumn {
    width: 85%;
  }
}

@media only screen and (min-width: 1024px) {
  .detailsColumn {
    max-width: 47.65625%;
  }

  .wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}