$CTABorder: 2px solid rgba(64, 61, 52, .6);

.card {
  border-top: $CTABorder;
  border-bottom: $CTABorder;
  padding: 1.45rem;
  margin: 1.45rem;
}

.header {
  text-align: center;
}

.CTAContainer, .CTA div p {
  width: 100%;
}